Repository GratiaOS/m3, changes with the labels that .github/labeler.yml gives for each.
All labels: server, ui, workflows, docs

feat(m3-bloom): scenes arrive like breath — bloom-in + pulse throb 🌱
  ui/src/app/App.tsx
  ui/src/flows/pads/PadSceneDeck.tsx
  ui/src/flows/pads/hooks/useSceneBloom.ts
  ui/src/styles/pads.css
Labels: ui

feat(m3-trail): soft pointer currents — pulse-synced chalk that fades 🫧
  ui/src/app/App.tsx
  ui/src/flows/presence/trail/TrailLayer.tsx
  ui/src/flows/presence/trail/trail.css
Labels: ui

feat(m3-halos): burst on drag-select — gentle arrival flare 🚀
  ui/src/flows/pads/PadSceneDeck.tsx
  ui/src/flows/pads/PadShelf.tsx
  ui/src/flows/pads/hooks/useMomentum.ts
  ui/src/flows/pads/hooks/usePadRoute.ts
  ui/src/flows/presence/halos/presence-halos.css
  ui/src/styles/layout.css
  ui/src/styles/pads.css
Labels: ui

feat(m3-halos): selection burst everywhere — click, keys, deep link 👯🚀
  ui/src/flows/pads/PadShelf.tsx
Labels: ui

feat(m3-handoff): first-focus handoff with gentle halo burst 🙌
  ui/src/flows/pads/PadSceneDeck.tsx
  ui/src/flows/pads/hooks/useFocusHandoff.ts
Labels: ui

feat(m3-a11y): polite scene handoff announcements 🌬️
  ui/src/app/App.tsx
  ui/src/flows/pads/hooks/useFocusHandoff.ts
  ui/src/flows/presence/a11y/LiveRegion.tsx
Labels: ui

refactor(utils): improve parseSpeaker and add focused unit tests ♾️
  ui/src/utils/town.spec.ts
  ui/src/utils/town.ts
Labels: ui

feat(a11y+value): focus handoff, towns escaping, value bridge test ♾️
  .github/workflows/ci.yml
  server/src/db.rs
  server/src/main.rs
  server/src/towns.rs
  server/tests/value_bridge.rs
  ui/src/flows/pads/PadChrome.tsx
  ui/src/flows/pads/hooks/useFocusHandoff.ts
  ui/src/flows/presence/a11y/LiveRegion.tsx
Labels: server, ui, workflows

feat(m3-a11y): allow muting scene announcements 🌬️🔇
  ui/src/app/SystemFooter.tsx
  ui/src/flows/presence/a11y/LiveRegion.tsx
  ui/src/flows/presence/a11y/announcePreference.ts
Labels: ui

feat(memory): embed Gratitude ritual, add decode guard, mac-safe hotkeys 🌬️ whisper: "Memory breath stays honest."
  ui/src/app/SystemFooter.tsx
  ui/src/flows/pads/pads/MemoryPad.tsx
  ui/src/flows/relational/relationalAlignment.ts
  ui/src/flows/scenes/DecodeGuardCard.tsx
  ui/src/flows/scenes/DecodeScene.tsx
  ui/src/flows/scenes/GratitudeScene.tsx
  ui/src/flows/value/gratitudeTokens.ts
  ui/src/lib/hotkeys.ts
  ui/src/main.tsx
  ui/src/styles/feedback.css
  ui/src/styles/pads.css
Labels: ui

feat(memory): soft hint for consent toggle 🌬️ whisper: "S-mode teaches by whisper."
  ui/src/flows/pads/pads/MemoryPad.tsx
  ui/src/flows/relational/relationalAlignment.ts
  ui/src/flows/scenes/GratitudeScene.tsx
  ui/src/styles/pads.css
Labels: ui

chore(memory): soften hint copy, broaden mac hotkeys 🌬️ whisper: "Hints breathe with consent."
  ui/src/flows/pads/pads/MemoryPad.tsx
  ui/src/lib/hotkeys.ts
Labels: ui

chore(shortcuts): unify chord matcher, fix mac option combos 🌬️ whisper: "One chord, shared breath."
  ui/src/app/SystemFooter.tsx
  ui/src/flows/pads/pads/MemoryPad.tsx
  ui/src/lib/hotkeys.ts
Labels: ui

feat(a11y): centralize chord labels, add SR announces 🌬️ whisper: "Consent speaks softly, everywhere."
  ui/src/app/SystemFooter.tsx
  ui/src/flows/pads/pads/MemoryPad.tsx
  ui/src/flows/relational/relationalAlignment.ts
  ui/src/lib/keyChords.ts
  ui/src/lib/srAnnouncer.ts
  ui/src/main.tsx
  ui/src/styles/accessibility.css
Labels: ui

chore(a11y): calm SR announces 🌬️ whisper: "Silence honors the background."
  ui/src/lib/srAnnouncer.ts
  ui/src/styles/accessibility.css
Labels: ui

chore(keymap): share chord labels across UI 🌬️ whisper: "Hints stay true to the keys."
  ui/src/flows/pads/pads/MemoryPad.tsx
  ui/src/lib/chordUi.ts
  ui/src/lib/keyChords.ts
  ui/src/styles/accessibility.css
Labels: ui

chore(a11y): reveal chord hints only in keyboard mode 🌬️ whisper: "Keys wake the guidance."
  ui/src/main.tsx
  ui/src/styles/accessibility.css
Labels: ui

chore(keymap): ensure chord pills inherit text color 🌬️ whisper: "Hints glow softly in the dark."
  ui/src/styles/accessibility.css
Labels: ui

docs+server: add numbers module and signal classifier
  README.md
  docs/identity/usb-vault.md
  docs/index.md
  docs/modules/emotional.md
  docs/modules/numbers.md
  docs/patterns/energy-calendar.md
  server/src/patterns.rs
Labels: server, docs

ui/pads: add numbers pad and hotkeys
  ui/src/api.ts
  ui/src/app/App.tsx
  ui/src/app/HotkeysPanel.tsx
  ui/src/app/SystemFooter.tsx
  ui/src/components/PadTabs.tsx
  ui/src/flows/pads/PadHost.tsx
  ui/src/flows/pads/PadSceneDeck.tsx
  ui/src/flows/pads/PadShelf.tsx
  ui/src/flows/pads/PresenceTrace.tsx
  ui/src/flows/pads/hooks/usePadRoute.ts
  ui/src/flows/pads/hooks/useSceneTransition.ts
  ui/src/flows/pads/pad-registry.ts
  ui/src/flows/pads/pads/EnergyPad.tsx
  ui/src/flows/pads/pads/GamesPad.tsx
  ui/src/flows/pads/pads/MemoryPad.tsx
  ui/src/flows/pads/pads/NumbersPad.tsx
  ui/src/flows/pads/pads/TownPresencePad.tsx
  ui/src/flows/pads/pads/ValueBridgePad.tsx
  ui/src/flows/pads/presenceTraceStore.ts
  ui/src/main.tsx
  ui/src/styles/accessibility.css
  ui/src/styles/layout.css
  ui/src/styles/pads.css
Labels: ui

ci+server: build presence kernel and quiet clippy
  .github/workflows/ci.yml
  server/src/patterns.rs
Labels: server, workflows

ui: remove unused isMac import
  ui/src/flows/pads/pads/MemoryPad.tsx
Labels: ui

ui: tidy pad tab key handling
  ui/src/components/PadTabs.tsx
Labels: ui

ci: build signal before presence kernel
  .github/workflows/ci.yml
Labels: workflows

changelog: record Numbers Pad & field play sync
  CHANGELOG.md
Labels: docs

docs: add offline mode v1.0
  README.md
  docs/guides/offline-mode.md
Labels: docs

Squashed 'gratia-identity/' content from commit 46b1073
  README.md
Labels: docs

Add gratia-identity subtree and Raz 4-5-6 protocol doc
  docs/modules/4-5-6-raz-protocol.md
Labels: docs

Squashed 'gratia-identity/' changes from 46b1073..4723255
  README.md
Labels: docs

docs(journeys): add appendix to dawn insight
  docs/journeys/2025-10-29-dawn-insight-no-opinion.md
Labels: docs

docs(specs): add relational webhooks spec + links ♾️
  README.md
  docs/related-map.yaml
  docs/specs/relational-webhooks.md
Labels: docs

docs(specs): normalize relational webhooks spec + changelog ♾️
  CHANGELOG.md
  docs/specs/relational-webhooks.md
Labels: docs

docs(marks): add relational webhooks mark ♾️
  CHANGELOG.md
  docs/index.md
  docs/marks/README.md
  docs/marks/relational-webhooks.md
Labels: docs

feat(timeline): robust DateTime sort + smarter limits + tells temporal ordering
  server/src/timeline.rs
Labels: server

docs(marks): add timeline-truthfulness mark
  docs/marks/README.md
  docs/marks/timeline-truthfulness.md
Labels: docs

test(timeline): cover sort fallback ♾️
  server/src/timeline.rs
Labels: server

test(timeline): cover per-source limits + tells order ♾️
  server/src/timeline.rs
Labels: server

test(timeline): drop hyper dependency ♾️
  server/src/timeline.rs
Labels: server

feat(bio): add the core dna files
  dosare/README_BIOLOGY.md
Labels: docs

fix(server): clippy sort_by_key
  server/src/cycles.rs
Labels: server

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: ['server/**']

ui:
  - changed-files:
      - any-glob-to-any-file: ['ui/**']

workflows:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md', 'docs/**']
