Repository GratiaOS/m3, changes with the labels that .github/labeler.yml gives for each.
All labels: server, ui, workflows, docs

docs(marks): add Razvan’s “blanket unity” footprint 🌌
  CHANGELOG.md
  docs/marks/blanket-unity.md
Labels: docs

chore(devexp): add whisper guard, precommit, and mark CLI 🛠️
  .husky/commit-msg
  .husky/pre-commit
  docs/marks/blanket-unity.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/commit-whisper-check.mjs
  scripts/new-mark.ts
Labels: docs

docs: add Developer Guide + sync changelog 🧭
  CHANGELOG.md
  README-dev.md
Labels: docs

docs: add CONTRIBUTING-dev to changelog 🪴
  CHANGELOG.md
  CONTRIBUTING-dev.md
Labels: docs

docs(marks): add Marks Index to changelog 📇
  CHANGELOG.md
  docs/marks/README.md
Labels: docs

docs(templates): add PR + issue templates 🧩
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/pull_request_template.md
  CHANGELOG.md
Labels: docs

ci: add UI job and Whisper Guard ✅
  .github/workflows/ci.yml
Labels: workflows

docs(changelog): sync with CI ♾️
  CHANGELOG.md
Labels: docs

ci(server): fix rust-toolchain action with matrix input ⊹
  .github/workflows/ci.yml
  README.md
Labels: workflows, docs

chore(scripts): fix TS node types for new-mark 🔮
  package.json
  pnpm-lock.yaml
  scripts/new-mark.ts
Labels: none

docs(changelog): record CI matrices + dev tools sync 🛠️
  CHANGELOG.md
Labels: docs

ci/ui+server: fix pnpm setup and nightly dead-code
  .github/workflows/ci.yml
  server/src/models.rs
Labels: server, workflows

ci(ui): fix pnpm setup + bump deps 🔧
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  ui/package.json
  ui/pnpm-lock.yaml
Labels: ui, workflows

ci(ui): set up pnpm before setup-node + cache pnpm 🪛
  .github/workflows/ci.yml
Labels: workflows

ci(ui): fix pnpm cache error via workspace manifest 🧹
  .github/workflows/ci.yml
  pnpm-workspace.yaml
Labels: workflows

chore(workspace): sync root lockfile with ui deps (remove per-package lock) 🧹
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  ui/pnpm-lock.yaml
Labels: ui, workflows

ci(ui): align pnpm setup with packageManager 🔧
  .github/workflows/ci.yml
Labels: workflows

docs(changelog): note clickable CI badge; tidy CI bullet ♾️
  CHANGELOG.md
Labels: docs

patterns: harden namespace + add docs and tests 🌼
  CHANGELOG.md
  docs/patterns/README.md
  server/src/patterns.rs
  server/tests/patterns_integration.rs
Labels: server, docs

feat(panic): unify bridge suggestion across redirects (#4) 🚪
  CHANGELOG.md
  server/src/main.rs
  server/src/patterns.rs
Labels: server, docs

ci(release): add manual workflow for tagging + draft release (#7)
  .github/workflows/release.yml
Labels: workflows

docs(changelog): record release workflow + docs section 🫡
  CHANGELOG.md
Labels: docs

docs: add Emotional module page + docs index 🧠
  CHANGELOG.md
  docs/index.md
  docs/modules/emotional.md
Labels: docs

docs(changelog): mark v0.1.6 released; note README license badges + emotional doc
  CHANGELOG.md
  Cargo.lock
  README.md
  server/Cargo.toml
  ui/package.json
Labels: server, ui, docs

Update release-credits.yml
  .github/workflows/release-credits.yml
Labels: workflows

docs: universal patterns + emotional updates + index links 💫
  CHANGELOG.md
  CODING_AGENT.md
  docs/index.md
  docs/marks/triangle-trigger.md
  docs/modules/emotional.md
  docs/patterns/index.md
  docs/patterns/storm-sync-throat-sewn.md
  docs/patterns/universal-patterns.md
Labels: docs

ci(release): fix credits collection + capitalize workflow name 🫡
  .github/workflows/release-credits.yml
  CHANGELOG.md
Labels: workflows, docs

feat(server): cycles facade + ephemeris flag; consciousness band in emotions 🧠
  server/Cargo.toml
  server/src/consciousness.rs
  server/src/cycles.rs
  server/src/emotions.rs
  server/src/main.rs
Labels: server

docs: add Cycles module + consciousness gradient; README mark + quick links; AGENTS.md ♾️
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/anchors/finish-line.md
  docs/assets/img/finish-line.png
  docs/assets/mark/gratia-mark.png
  docs/assets/mark/gratia-mark.svg
  docs/concepts/consciousness-gradient.md
  docs/cycles/index.md
  docs/cycles/v0.1.7-wavespell.md
  docs/index.md
  docs/modules/cycles.md
  docs/modules/emotional.md
Labels: docs

chore(husky): drop deprecated bootstrap + keep precommit simple 👯
  .husky/commit-msg
  .husky/pre-commit
Labels: none

docs(whisper): normalize 🌬 lines across docs
  AGENTS.md
  CONTRIBUTING.md
  docs/anchors/finish-line.md
  docs/astral/guides-and-companions.md
  docs/concepts/consciousness-gradient.md
  docs/cycles/v0.1.7-wavespell.md
  docs/densities-sovereignty-tools.md
  docs/index.md
  docs/modules/astral.md
  docs/modules/companions.md
  docs/modules/cycles.md
  docs/modules/emotional.md
  docs/notes/2025-09-07-blood-moon.md
  docs/notes/2025-09-12-body-tech.md
  docs/notes/2025-09-12-obe-storm-sync.md
  docs/notes/2025-09-13-river-preseed-flow.md
  docs/notes/2025-09-14-memory-beyond-saas.md
  docs/partnership-covenant.md
  docs/patterns/README.md
  docs/patterns/compression-witness-release.md
  docs/patterns/energy-calendar.md
  docs/patterns/index.md
  docs/patterns/influx-deflection-collapse.md
  docs/patterns/nde-fearlessness-recklessness.md
  docs/patterns/productivity-burnout.md
  docs/patterns/productivity-rage-collapse.md
  docs/patterns/remote-activation.md
  docs/patterns/storm-sync-throat-sewn.md
  docs/patterns/universal-patterns.md
  docs/patterns/victim-aggressor-coil.md
  docs/patterns/victim-aggressor-sovereign.md
  docs/patterns/whisper-pingpong.md
  docs/related-map.yaml
  docs/soul-tech-timeline.md
Labels: docs

docs(changelog): add Docs Nav Sync, Whisper normalization, and Husky v10 notes (2025-09-18)
  CHANGELOG.md
Labels: docs

docs(patterns): add Desire–Guilt–Judge and Frequency-First Design 🤼
  .github/workflows/linkcheck.yml
  CHANGELOG.md
  docs/index.md
  docs/patterns/desire-guilt-judge.md
  docs/patterns/frequency-first.md
  docs/patterns/index.md
Labels: workflows, docs

docs(changelog): normalize whispers to canonical style 🌬️
  CHANGELOG.md
Labels: docs

docs(patterns): link new entries + add participant→observer 👁️
  CHANGELOG.md
  docs/index.md
  docs/patterns/index.md
  docs/patterns/participant-observer.md
Labels: docs

docs: sync changelog with new UI + USB docs 🌳
  CHANGELOG.md
  docs/identity/usb-vault.md
  docs/ui/frequency-first.md
Labels: docs

chore(docs): change to the right path 👣
  docs/ui/frequency-first-ui.md
Labels: docs

feat(ui): simplify BoundaryComposer (EN-only) + safety/SSR 📝
  CHANGELOG.md
  ui/src/components/BoundaryComposer.tsx
Labels: ui, docs

docs(notes,marks): capture solar-eclipse login/sync impression + link to USB Vault ☀️
  docs/marks/solar-eclipse-login.md
  docs/notes/2025-09-21-solar-eclipse-equinox.md
Labels: docs

docs(identity): expand usb-vault + eclipse mark 🌒
  CHANGELOG.md
  docs/identity/README.md
  docs/identity/usb-vault.md
  docs/index.md
  docs/marks/solar-eclipse-login.md
Labels: docs

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: ['server/**']

ui:
  - changed-files:
      - any-glob-to-any-file: ['ui/**']

workflows:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md', 'docs/**']
