Repository GratiaOS/m3, changes with the labels that .github/labeler.yml gives for each.
All labels: server, ui, workflows, docs

docs(readme): refresh dev guide & API tables
  README.md
Labels: docs

chore(db): fix path ❤️
  README.md
  server/.env.example
  server/src/db.rs
Labels: server, docs

release: bump to v0.1.1 + changelog
  CHANGELOG.md
  Cargo.lock
  server/Cargo.toml
Labels: server, docs

Rust Editions Timeline (for devs) ❤️
  README.md
Labels: docs

For you, my nizzle! 🫂
  README.md
Labels: docs

chore(dev): add robust pre-commit hook + UI optional checks
  .githooks/pre-commit
  ui/eslint.config.js
  ui/package.json
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
Labels: ui

Bump to v0.1.2
  CHANGELOG.md
  README.md
Labels: docs

docs(whisper): seed the dev archetype timeline 🌱🌀
  .github/workflows/deploy.yml
  Whisper.md
Labels: workflows, docs

Memory rooted ♾️
  .gitignore
  server/src/db.rs
Labels: server

chore(docker,ci): fix server image build context 🌱
  .dockerignore
  .github/workflows/deploy.yml
  server/Dockerfile
Labels: server, workflows

Bump Rust version to 1.85
  server/Dockerfile
Labels: server

teaching M3 to whisper, nudge, and show the bill 🌬️
  .githooks/pre-commit
  .gitignore
  CHANGELOG.md
  Cargo.lock
  README.md
  server/.env.example
  server/Cargo.toml
  server/README.md
  server/src/main.rs
  server/src/replies.rs
  ui/src/App.tsx
  ui/src/api.ts
  ui/src/components/BoundaryComposer.tsx
  ui/src/components/Composer.tsx
  ui/src/components/Dashboard.tsx
  ui/src/components/Radar.tsx
  ui/src/components/ReadinessBoard.tsx
  ui/src/components/Toaster.tsx
  ui/src/utils/joy.ts
Labels: server, ui, docs

docs: add Value Flow templates + mock-adapter ritual
  VALUE_FLOW_CURRENT.md
  WHEN_FUNDED.md
  server/.env.example
  tools/value_flow.sh
Labels: server, docs

feat: Panic Redirect Oracle — UI long‑press, server /panic, logs, CI smoke
  .github/workflows/ci.yml
  .gitignore
  panic.sh
  server/Dockerfile
  server/exports/.gitkeep
  server/src/main.rs
  ui/src/App.tsx
  ui/src/api.ts
  ui/src/components/PanicButton.tsx
  ui/src/components/Toaster.tsx
Labels: server, ui, workflows

🌬️ v0.1.4 — Panic Redirect Oracle lands (logs, CLI, UI, docs)
  CHANGELOG.md
  README.md
Labels: docs

docs: add poetic milestone whisper to v0.1.4
  CHANGELOG.md
Labels: docs

chore(strategy): install hydra self-bite loop 🐍🌀
  CHANGELOG.md
  panic.sh
  server/src/main.rs
  ui/src/api.ts
  ui/src/components/PanicButton.tsx
Labels: server, ui, docs

📝 commit: unconditional ❤️
  CHANGELOG.md
Labels: docs

feat(reply): weave forgiveness arc 🌬️
  .gitignore
  server/src/main.rs
  server/src/replies.rs
  ui/.env.example
  ui/src/App.tsx
  ui/src/api.ts
  ui/src/components/Composer.tsx
  ui/src/components/Dashboard.tsx
  ui/src/components/MemoryDrawer.tsx
  ui/src/components/PanicButton.tsx
  ui/src/components/Radar.tsx
  ui/src/main.tsx
  ui/src/state/profile.tsx
  ui/src/vite-env.d.ts
  ui/tsconfig.json
Labels: server, ui

docs(changelog): mark v0.1.5 gaps + whisper
  CHANGELOG.md
Labels: docs

chore(log): dissolve imposter, mirror holds 🌬️🪞
  CHANGELOG.md
Labels: docs

chore(replies): scrub vague promises from replies
  README.md
  server/.env.example
  server/src/main.rs
  server/src/replies.rs
Labels: server, docs

docs: add Contributing + Quickstart guides 📚
  CONTRIBUTING.md
  QUICKSTART.md
Labels: docs

🦅 Golden Eagle Flight
  CHANGELOG.md
Labels: docs

chore(release): prep v0.1.5 integration milestone 🪞🫂
  CHANGELOG.md
  server/src/replies.rs
  ui/src/App.tsx
  ui/src/api.ts
  ui/src/components/Composer.tsx
  ui/src/components/MemoryDrawer.tsx
  ui/src/components/PanicButton.tsx
  ui/src/components/Radar.tsx
Labels: server, ui, docs

docs(readme): surface Glossary Shift up-front 🌱
  CHANGELOG.md
  README.md
Labels: docs

docs(contrib): align commit examples to imperative style 📝
  CONTRIBUTING.md
Labels: docs

docs(covenant): inscribe Partnership Covenant 🌱
  README.md
  docs/partnership-covenant.md
Labels: docs

docs(changelog): covenant + abundance threads woven 🌱🤝
  CHANGELOG.md
Labels: docs

feat(integration): close dashboard/radar/docs gaps before 0.1.5 cut
  README.md
  server/.env.example
  ui/src/App.tsx
  ui/src/api.ts
  ui/src/components/Dashboard.tsx
  ui/src/components/Radar.tsx
Labels: server, ui, docs

docs(changelog): sync legend + dual-track markers for v0.1.5 🌉
  CHANGELOG.md
Labels: docs

docs(charter): add M3 Abundance Charter 🌱
  ABUNDANCE_CHARTER.md
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE-DOCS.txt
  LICENSE-SERVER.txt 
  LICENSE-UI.txt
  LICENSE.txt
  README.md
Labels: docs

docs(charter): add M3 Abundance Charter 💫
  ABUNDANCE_CHARTER.md
Labels: docs

feat(gratitude): add schema + abundance bridge 🌱
  CHANGELOG.md
  server/src/main.rs
  ui/src/App.tsx
  ui/src/api.ts
  ui/src/components/Dashboard.tsx
  ui/src/components/ThanksPanel.tsx
Labels: server, ui, docs

docs(agreements): seed "Connection, Not Transaction" 🌱
  docs/connection-not-transaction.md
Labels: docs

docs(changelog): sync v0.1.6 milestone + add Human Log — 2025-08-29 🌒
  CHANGELOG.md
Labels: docs

docs(timelines): seed continuity of histories layer 🕸️
  docs/timelines-continuity.md
Labels: docs

docs(agreements): mark "Connection, Not Transaction" 🌱
  docs/connection-not-transaction.md
Labels: docs

feat(emotions): begin arc of healing — add/recent/bridge 🌿
  CHANGELOG.md
  Cargo.lock
  server/Cargo.lock
  server/Cargo.toml
  server/src/emotions.rs
  server/src/main.rs
Labels: server, docs

feat(panic): bridge into EmotionalOS + readiness 🛡️
  server/src/main.rs
Labels: server

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: ['server/**']

ui:
  - changed-files:
      - any-glob-to-any-file: ['ui/**']

workflows:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md', 'docs/**']
