Repository GratiaOS/m3, changes with the labels that .github/labeler.yml gives for each.
All labels: server, ui, workflows, docs

chore(v0.1.6-draft): EmotionalOS arc in motion — gratitude lands, panic redirects 🪞🛡️💚
  .github/workflows/auto-pr.yml
  CHANGELOG.md
  README.md
  server/src/db.rs
  server/src/emotions.rs
  server/src/main.rs
  ui/src/api.ts
  ui/src/components/Dashboard.tsx
  ui/src/components/PanicButton.tsx
Labels: server, ui, workflows, docs

feat(emotions): add paradox + gratitude bridges 🌉
  server/src/emotions.rs
Labels: server

docs(changelog): v0.1.6 flow note 🌊
  CHANGELOG.md
Labels: docs

docs(soul-tech): add Soul-Tech Timeline 🪞🔥✍️🎶🌐🤖
  docs/soul-tech-timeline.md
Labels: docs

docs: sync EmotionalOS arc + privacy covenant 🪞
  CHANGELOG.md
  README.md
  docs/privacy.md
Labels: docs

docs(notes): add Blood Moon prep note 🌔
  docs/notes/2025-09-07-blood-moon.md
Labels: docs

docs(sync): eclipse prep note + privacy arc 🌔
  CHANGELOG.md
Labels: docs

feat(emotionalos): resolve mirrors sealed/archetype/privacy; unify schema; add black-box test ❤️
  CHANGELOG.md
  server/src/db.rs
  server/src/emotions.rs
  server/src/main.rs
  server/tests/emotions_integration.rs
Labels: server, docs

test(emotionalos): black-box HTTP arc is green ✅
  Cargo.lock
  server/Cargo.toml
  server/tests/emotions_integration.rs
Labels: server

docs(EmotionalOS): add arc diagram + workflow cURL; link from README 🌉🙏♾️
  README.md
  docs/emotionalos-arc.mmd
  docs/emotionalos-workflow.md
Labels: docs

docs(contributing): extend authorship & credit with embrace 🤗
  CONTRIBUTING.md
Labels: docs

docs(contrib): add release credits workflow + sync contributing guide 🌿
  .github/workflows/release-credits.yml
  CHANGELOG.md
  CONTRIBUTING.md
Labels: workflows, docs

docs(+brand): add Firegate, Home Arc, Orb Landing, Shared Moments + update README ✨
  README.md
  docs/firegate.md
  docs/home-arc.md
  docs/orb-landing.md
  docs/shared-moments.md
  ui/public/brand/gratia-mark.png
  ui/public/brand/gratia-mark.svg
Labels: ui, docs

refactor(docs): rename /brand → /mark 🌱
  ABUNDANCE_CHARTER.md
  CHANGELOG.md
  README.md
  ui/public/mark/gratia-mark.png
  ui/public/mark/gratia-mark.svg
Labels: ui, docs

feat(EmotionalOS): add patterns module + docs, extend tests, sync changelog 🫂
  CHANGELOG.md
  docs/patterns/index.md
  docs/patterns/victim-aggressor-sovereign.md
  docs/patterns/whisper-pingpong.md
  server/src/main.rs
  server/src/patterns.rs
  server/tests/patterns_integration.rs
Labels: server, docs

docs(patterns): add finish-line leaf arc 🌿
  CHANGELOG.md
  docs/anchors/finish-line.md
  docs/img/finish-line.png
Labels: docs

build(svg): enable SVGR + aliases and add Gratia mark 🌀♾️
  ui/public/mark/gratia-mark.svg
  ui/src/assets/mark/gratia-mark.png
  ui/src/assets/mark/gratia-mark.svg
  ui/src/components/GratiaMark.tsx
  ui/src/vite-env.d.ts
  ui/tsconfig.json
  ui/tsconfig.node.json
  ui/vite.config.ts
Labels: ui

feat(ui): introduce Catalyst primitives and Tailwind v4 base 🎨
  ui/package.json
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
  ui/src/styles.css
  ui/src/ui/catalyst/alert.tsx
  ui/src/ui/catalyst/auth-layout.tsx
  ui/src/ui/catalyst/avatar.tsx
  ui/src/ui/catalyst/badge.tsx
  ui/src/ui/catalyst/button.tsx
  ui/src/ui/catalyst/checkbox.tsx
  ui/src/ui/catalyst/combobox.tsx
  ui/src/ui/catalyst/description-list.tsx
  ui/src/ui/catalyst/dialog.tsx
  ui/src/ui/catalyst/divider.tsx
  ui/src/ui/catalyst/dropdown.tsx
  ui/src/ui/catalyst/fieldset.tsx
  ui/src/ui/catalyst/heading.tsx
  ui/src/ui/catalyst/index.ts
  ui/src/ui/catalyst/input.tsx
  ui/src/ui/catalyst/link.tsx
  ui/src/ui/catalyst/listbox.tsx
  ui/src/ui/catalyst/navbar.tsx
  ui/src/ui/catalyst/pagination.tsx
  ui/src/ui/catalyst/radio.tsx
  ui/src/ui/catalyst/select.tsx
  ui/src/ui/catalyst/sidebar-layout.tsx
  ui/src/ui/catalyst/sidebar.tsx
  ui/src/ui/catalyst/stacked-layout.tsx
  ui/src/ui/catalyst/switch.tsx
  ui/src/ui/catalyst/table.tsx
  ui/src/ui/catalyst/text.tsx
  ui/src/ui/catalyst/textarea.tsx
Labels: ui

feat(ui): enhance Dashboard with pillars, heart flow, and Catalyst polish 🌬️
  ui/src/components/Dashboard.tsx
  ui/src/styles.css
  ui/src/ui/catalyst/index.ts
Labels: ui

feat(emotions): resolve now lands gratitude + trace tell 🌬️
  server/src/emotions.rs
  server/src/main.rs
  server/src/tells.rs
Labels: server

Update CHANGELOG.md
  CHANGELOG.md
Labels: docs

add burnout + rage/collapse patterns and update index 🌬️
  docs/patterns/index.md
  docs/patterns/productivity-burnout.md
  docs/patterns/productivity-rage-collapse.md
  docs/patterns/victim-aggressor-sovereign.md
Labels: docs

add energy, rhythm and timeline modules 🌬️
  Cargo.lock
  server/Cargo.toml
  server/src/db.rs
  server/src/energy.rs
  server/src/main.rs
  server/src/rhythm.rs
  server/src/timeline.rs
Labels: server

add integration + smoke tests for energy, rhythm and patterns 🌬️
  server/tests/common/mod.rs
  server/tests/emotions_integration.rs
  server/tests/energy_integration.rs
  server/tests/patterns_integration.rs
  server/tests/rhythm_smoke.rs
Labels: server

add timeline component and integrate with emotions ui 🌬️
  ui/src/App.tsx
  ui/src/api.ts
  ui/src/components/Timeline.tsx
Labels: ui

update patterns router with productivity endpoints 🌬️
  server/src/patterns.rs
Labels: server

docs: sync changelog and readme for v0.1.6
  CHANGELOG.md
  README.md
Labels: docs

docs(readme,changelog): add energy-calendar pattern and E-bands rationale; link docs; mark under v0.1.6 (unreleased) ☀️
  CHANGELOG.md
  README.md
  docs/patterns/energy-calendar.md
Labels: docs

mark: seed andrei footprint in the garden 🌱
  docs/marks/andrei.md
Labels: docs

docs: add four new patterns and sync changelog 💜
  CHANGELOG.md
  docs/patterns/compression-witness-release.md
  docs/patterns/index.md
  docs/patterns/influx-deflection-collapse.md
  docs/patterns/nde-fearlessness-recklessness.md
  docs/patterns/victim-aggressor-coil.md
Labels: docs

docs(densities,readme): reference densities sovereignty tools 🌌
  README.md
  docs/densities-sovereignty-tools.md
Labels: docs

docs(patterns): add storm-sync + remote-activation; add body-tech + whispers seed 🌱
  docs/notes/2025-09-12-body-tech.md
  docs/patterns/remote-activation.md
  docs/patterns/storm-sync-throat-sewn.md
  docs/whispers/motivational-cards.md
Labels: docs

chore(changelog): sync 2025-09-13 with storm-sync + remote-activation 🌊
  CHANGELOG.md
  CONTRIBUTING.md
Labels: docs

docs: add note on obe-storm sync (2025-09-12) 🗒️
  docs/notes/2025-09-12-obe-storm-sync.md
Labels: docs

chore(docs): sync changelog with astral-snap note; add safety/discernment/return protocol 🌬️
  CHANGELOG.md
  docs/notes/2025-09-13-astral-snap.md
Labels: docs

changelog: add human log entry for coil unwinding pattern ❤️
  CHANGELOG.md
Labels: docs

docs(changelog,astral): seed astralOS arc, add guides+companions, river preseed note, sync human logs 🌌
  CHANGELOG.md
  docs/astral/guides-and-companions.md
  docs/modules/astral.md
  docs/notes/2025-09-13-river-preseed-flow.md
Labels: docs

chore(docs): add “money as echo” note and sync changelog 💸
  CHANGELOG.md
  docs/notes/2025-09-14-money-as-echo.md
Labels: docs

chore(docs): add companions seed to firegate and start dedicated module 🔥
  docs/firegate.md
  docs/modules/companions.md
Labels: docs

docs(changelog): sync with new notes and astral modules ♾️
  CHANGELOG.md
  docs/notes/2025-09-14-memory-beyond-saas.md
Labels: docs

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: ['server/**']

ui:
  - changed-files:
      - any-glob-to-any-file: ['ui/**']

workflows:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md', 'docs/**']
