Repository GratiaOS/m3, changes with the labels that .github/labeler.yml gives for each.
All labels: server, ui, workflows, docs

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: ['server/**']

ui:
  - changed-files:
      - any-glob-to-any-file: ['ui/**']

workflows:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md', 'docs/**']

feat(ui): CovenantChip stub — 3 pillars + Add→timeline (🤝)
  ui/src/App.tsx
  ui/src/components/CovenantChip.tsx
Labels: ui

fix(ui): avoid double 🤝 in covenant timeline entries
  ui/src/components/CovenantChip.tsx
Labels: ui

feat(ui): Reverse the Poles toggle + pause ritual
  ui/src/App.tsx
  ui/src/components/BridgePanel.tsx
  ui/src/components/Composer.tsx
  ui/src/components/StatusBar.tsx
  ui/src/components/Timeline.tsx
  ui/src/main.tsx
  ui/src/state/reversePoles.tsx
Labels: ui

chore(docs): add Reverse Poles pattern
  docs/patterns/reverse-poles.md
Labels: docs

feat(ui): link local Garden tokens + primitives
  CHANGELOG.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  ui/package.json
  ui/src/components/Dashboard.tsx
  ui/src/components/StatusBar.tsx
  ui/src/styles.css
  ui/src/ui/catalyst/index.ts
Labels: ui, docs

chore(toast): unify on Garden events; retire joy:toast 🌳
  CHANGELOG.md
  ui/eslint.config.js
  ui/src/App.tsx
  ui/src/components/Dashboard.tsx
  ui/src/components/PanicButton.tsx
  ui/src/components/PurposeChip.tsx
  ui/src/components/RTPResetToast.tsx
  ui/src/components/StatusBar.tsx
  ui/src/components/Toaster.tsx
  ui/src/main.tsx
  ui/src/state/reversePoles.tsx
  ui/src/styles.css
  ui/src/utils/joy.ts
Labels: ui, docs

docs(patterns): add Phantom Rival Loop 🌬
  docs/index.md
  docs/patterns/README.md
  docs/patterns/index.md
  docs/patterns/phantom-rival-loop.md
Labels: docs

docs+server(patterns): Phantom Rival Loop + bridge aliases 🌱
  docs/patterns/phantom-rival-loop.md
  server/src/patterns.rs
Labels: server, docs

chore(ui): add typecheck script
  ui/package.json
Labels: ui

chore(ui): add typecheck script (#17)
  ui/package.json
Labels: ui

docs(changelog): sync purpose branch changes 🌿
  CHANGELOG.md
Labels: docs

fix(ui): restore catalyst button export
  CHANGELOG.md
  ui/src/ui/catalyst/index.ts
Labels: ui, docs

chore(ci): align workspace checkouts
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  ui/package.json
Labels: ui, workflows

chore(ci): pin pnpm version
  .github/workflows/ci.yml
  package.json
Labels: workflows

ci(ui): prebuild garden ui package
  .github/workflows/ci.yml
Labels: workflows

feat(ui): add fam jam panel
  .github/workflows/ci.yml
  pnpm-lock.yaml
  ui/package.json
  ui/src/components/Dashboard.tsx
  ui/src/components/FamJamPanel.tsx
Labels: ui, workflows

feat(timeline): FamJam-aware mapping — doorway emoji + hint + meta
  ui/src/components/FamJamPanel.tsx
  ui/src/components/Timeline.tsx
  ui/src/timeline/timeline.ts
Labels: ui

feat(ui): timeline doorway badge — room emoji for FamJam items
  ui/src/components/Timeline.tsx
Labels: ui

feat(ui): LightGate listens, Sponsors bloom — Fam Jam flow 🪞🌿
  CHANGELOG.md
  FUNDING.md
  README.md
  package.json
  ui/package.json
  ui/src/App.tsx
  ui/src/components/FamJamPanel.tsx
  ui/src/components/LightGate.tsx
  ui/src/components/Timeline.tsx
  ui/src/styles.css
  ui/src/timeline/timeline.ts
Labels: ui, docs

fix(docs,ui): anchor emoji headings and steady LightGate luminance
  README.md
  ui/src/components/LightGate.tsx
Labels: ui, docs

fix(docs,ui): anchor emoji headings and steady LightGate luminance (#21)
  README.md
  ui/src/components/LightGate.tsx
Labels: ui, docs

feat(value): expose headless ledger + guard the map
  .github/workflows/ci.yml
  CHANGELOG.md
  server/openapi.yaml
  server/src/db.rs
  server/src/main.rs
  server/src/models.rs
  server/src/value.rs
Labels: server, workflows, docs

fix(value): align insert placeholders with params
  server/src/db.rs
Labels: server

ci(openapi): drop npm cache to unblock lint job
  .github/workflows/ci.yml
Labels: workflows

chore(clippy): tidy docs spacing and clamp limit
  server/src/db.rs
Labels: server

chore(models): silence unused value types
  server/src/models.rs
Labels: server

chore: unify exports directory
  .gitignore
  CHANGELOG.md
  QUICKSTART.md
  README.md
  exports/.gitkeep
  panic.sh
  server/.env.example
  server/Dockerfile
  server/src/main.rs
Labels: server, docs

feat(hud+registry): stabilize pad context and surface Phase HUD 🌬️
  ui/src/App.tsx
  ui/src/hooks/usePadRegistry.tsx
  ui/src/hooks/useSceneTransition.ts
  ui/src/hud/PhaseHUD.tsx
  ui/src/hud/hud.css
  ui/src/hud/usePhaseBridge.ts
  ui/src/main.tsx
  ui/src/pads/EnergyPad.tsx
  ui/src/pads/MemoryPad.tsx
  ui/src/pads/PadHost.tsx
  ui/src/pads/PadSceneDeck.tsx
  ui/src/pads/TownPresencePad.tsx
  ui/src/pads/ValueBridgePad.tsx
  ui/src/scenes/BoundaryScene.tsx
  ui/src/scenes/CatTownScene.tsx
  ui/src/scenes/FamJamScene.tsx
  ui/src/scenes/GratitudeScene.tsx
  ui/src/scenes/IntegrationScene.tsx
Labels: ui

feat(kernel+rtc): bridge phase stream across peers 🌬️
  ui/src/hud/PhaseHUD.tsx
  ui/src/hud/hud.css
  ui/src/hud/usePhaseBridge.ts
  ui/src/pads/EnergyPad.tsx
  ui/src/pads/MemoryPad.tsx
  ui/src/pads/TownPresencePad.tsx
  ui/src/pads/ValueBridgePad.tsx
  ui/src/presence/presence-kernel.ts
Labels: ui

feat(kernel): unify presence heartbeat across Garden stack 🫂
  pnpm-lock.yaml
  ui/package.json
  ui/src/adapters/webrtc-signal-bus.ts
  ui/src/hud/usePhaseBridge.ts
  ui/src/presence/presence-kernel.ts
  ui/tsconfig.json
  ui/vite.config.ts
Labels: ui

feat(m3-flow): live pad shelf, phase-paced scene dissolve, and Value Bridge bloom 🌕🫂
  package.json
  pnpm-lock.yaml
  scripts/ensure-garden-core.mjs
  server/src/db.rs
Labels: server

fix(ui): link garden-core packages for CI workspace
  pnpm-lock.yaml
  ui/package.json
Labels: ui

ci(ui): build linked garden packages before vite
  .github/workflows/ci.yml
Labels: workflows

ci(ui): align node runtime and presence alias
  .github/workflows/ci.yml
  ui/vite.config.ts
Labels: ui, workflows

ci(ui): rely on pnpm action bin
  .github/workflows/ci.yml
Labels: workflows

feat(m3-momentum): phase-paced glide between pads; chalk-track settle 🌊
  ui/src/flows/pads/PadSceneDeck.tsx
  ui/src/flows/pads/hooks/useMomentum.ts
  ui/src/styles/pads.css
Labels: ui

feat(m3-halos): micro-presence halos — phase-paced, pulse-synced, a11y-safe ✨
  ui/src/app/App.tsx
  ui/src/flows/pads/PadShelf.tsx
  ui/src/flows/presence/halos/presence-halos.css
  ui/src/flows/presence/halos/useHaloPulse.ts
  ui/src/flows/system/SystemPanel.tsx
Labels: ui

feat(m3-halos): caret-aware halos — typing glow synced to pulse ✍️✨
  ui/src/app/App.tsx
  ui/src/components/Composer.tsx
  ui/src/components/CovenantChip.tsx
  ui/src/components/QuickActions/SignalHandover.tsx
  ui/src/components/ThanksPanel.tsx
  ui/src/flows/communication/FamJamPad.tsx
  ui/src/flows/communication/TownPad.tsx
  ui/src/flows/presence/halos/presence-halos.css
  ui/src/flows/presence/halos/useCaretHalo.ts
  ui/src/flows/scenes/BoundaryScene.tsx
  ui/src/flows/scenes/CatTownScene.tsx
  ui/src/flows/scenes/GratitudeScene.tsx
  ui/src/flows/system/ValueBridge.tsx
Labels: ui

feat(m3-halos): beat-nudged placeholders that float on focus ✨
  ui/src/flows/presence/placeholders/Field.tsx
  ui/src/flows/presence/placeholders/placeholders.css
  ui/src/flows/scenes/GratitudeScene.tsx
  ui/src/flows/system/ValueBridge.tsx
  ui/src/styles/system.css
Labels: ui

feat(m3-tint): gentle tint states — ask · none · true 💗
  ui/src/flows/presence/placeholders/Field.tsx
  ui/src/flows/presence/placeholders/placeholders.css
  ui/src/flows/scenes/GratitudeScene.tsx
  ui/src/flows/system/ValueBridge.tsx
Labels: ui
