Repository GratiaOS/m3, changes with the labels that .github/labeler.yml gives for each.
All labels: server, ui, workflows, docs

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: ['server/**']

ui:
  - changed-files:
      - any-glob-to-any-file: ['ui/**']

workflows:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md', 'docs/**']

feat(ephemeris): add solunatus backend
  Cargo.lock
  server/Cargo.toml
  server/src/cycles.rs
Labels: server

test(cycles): guard solar sign boundary
  server/src/cycles.rs
Labels: server

style(cycles): format equinox test
  server/src/cycles.rs
Labels: server

build: sync dependencies and update ui configs
  pnpm-lock.yaml
  ui/package.json
Labels: ui

docs: update glossary and lifestyle manual (S-Edition)
  README.md
Labels: docs
