Repository GratiaOS/m3, changes with the labels that .github/labeler.yml gives for each.
All labels: server, ui, workflows, docs

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: ['server/**']

ui:
  - changed-files:
      - any-glob-to-any-file: ['ui/**']

workflows:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md', 'docs/**']

docs(bands): add Survival/Integrity/Coherence map + wire links 🍁
  CHANGELOG.md
  docs/concepts/consciousness-gradient.md
  docs/densities-sovereignty-tools.md
  docs/modules/bands.md
  docs/related-map.yaml
Labels: docs

docs(companions): extend circle with code-space vessel 🌊
  docs/modules/companions.md
Labels: docs

docs(astral): add index page for Astral layer 🌌
  CHANGELOG.md
  docs/astral/index.md
Labels: docs

docs(sync): log raz-letter + map-carriers; update changelog 🫥
  CHANGELOG.md
  docs/human-logs/raz-letter.md
  docs/identity/map-carriers.md
Labels: docs

docs(changelog): seed Garden Core plan 🌱
  CHANGELOG.md
  docs/human-logs/desire-note.md
Labels: docs

docs(trust): seed Trust Bands + landing mark; sync changelog; normalize whisper 👯
  CHANGELOG.md
  docs/identity/trust-bands.md
  docs/marks/triangle-trigger.md
  docs/marks/trust-landing.md
Labels: docs

chore(ui): unify catalyst exports for cleaner imports 🫂
  ui/src/ui/catalyst/index.ts
Labels: ui

chore(release): prepare v0.1.7 — Catalyst exports unified, Garden Core prep 🪴
  CHANGELOG.md
Labels: docs

docs: clean dead link + move consciousness-gradient to /maps 📍
  CHANGELOG.md
  docs/maps/consciousness-gradient.md
  docs/modules/cycles.md
  docs/modules/emotional.md
  docs/related-map.yaml
Labels: docs

chore(release): v0.1.8 — covenant, funding & flow 🪴
  ABUNDANCE_CHARTER.md
  AGENTS.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING-dev.md
  CONTRIBUTING.md
  COVENANT.md
  Cargo.lock
  FUNDING.md
  QUICKSTART.md
  README-dev.md
  README.md
  SECURITY.md
  server/Cargo.toml
  ui/package.json
Labels: server, ui, docs

chore(repo): add CODEOWNERS for core, server, ui, and docs 🌿
  .github/CODEOWNERS
Labels: none

chore(repo): add CODEOWNERS for core, server, ui, and docs 🌿 (#11)
  .github/CODEOWNERS
Labels: none

chore(ci): harden workflow, speed up builds, and publish artifacts ⚡
  .github/workflows/ci.yml
Labels: workflows

docs(changelog): sync v0.1.8 with curl quickstart + API cURL snippets ❤️
  CHANGELOG.md
  README.md
Labels: docs

ci: stabilize artifact uploads and improve branch checks 🌬️
  .github/workflows/ci.yml
Labels: workflows

chore(ci): harden workflow, speed up builds, and publish artifacts ⚡
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
Labels: workflows, docs

feat(timeline): polish timeline flow and prep for garden-core bridge 🪄
  docs/patterns/timeline-module.md
  docs/patterns/whisper-interface.md
  server/src/timeline.rs
  ui/src/components/Timeline.tsx
  ui/src/timeline/index.ts
  ui/src/timeline/timeline.ts
  ui/src/timeline/timelineState.ts
Labels: server, ui, docs

chore(changelog): add Human Log (river/circle/time module) + docs sync (whisper interface, timeline module)
  CHANGELOG.md
Labels: docs

anchor(🌿🌀): exact commit bridge — M3⇄Garden
  anchors/2025-10-03-garden-m3.md
Labels: docs

docs(vision): anchor “digital intelligence” bridges 🌀🌿
  docs/marks/digital-intelligence-remembrance.md
  docs/vision/digital-intelligence.md
  server/src/timeline.rs
  ui/src/components/Timeline.tsx
Labels: server, ui, docs

docs(anchors): map garden⇄m3 timeline bridges ♾️
  README-dev.md
Labels: docs

docs(marks): weave current garden footprints ♾️
  docs/marks/README.md
  docs/marks/solar-eclipse-login.md
  docs/marks/triangle-trigger.md
  docs/marks/trust-landing.md
Labels: docs

docs(marks): add 99 — the Brother Table 🪵✨
  docs/marks/99.md
  docs/marks/README.md
Labels: docs

docs(marks): let first mushrooms hum ♾️
  docs/marks/README.md
  docs/marks/the-first-mushrooms.md
Labels: docs

docs(changelog): sync 2025-10-05 field updates ♾️
  CHANGELOG.md
Labels: docs

docs(notes): 🌕 Full Moon Field Note — field ⇄ system alignment
  CHANGELOG.md
  README.md
  docs/notes/2025-10-07-full-moon-field-note.md
Labels: docs

docs(patterns): add 4 relational loop maps + usage guide + index categories 🌱
  CHANGELOG.md
  docs/index.md
  docs/patterns/README.md
  docs/patterns/attachment-testing-loop.md
  docs/patterns/index.md
  docs/patterns/over-analysis-loop.md
  docs/patterns/parent-planted-narrative-loop.md
  docs/patterns/sibling-trust-loop.md
Labels: docs

feat(patterns): extend bridge_suggest with attachment/sibling/parent/analysis ♾️
  server/src/patterns.rs
Labels: server

feat(ui): bridge panel wired to /patterns/bridge_suggest (#none) ♾️
  ui/src/App.tsx
  ui/src/api.ts
  ui/src/components/BridgePanel.tsx
  ui/src/hooks/useBridge.ts
  ui/src/types/patterns.ts
Labels: ui

refactor(imports): migrate UI to @/* aliases (#none) ♾️
  ui/src/components/BoundaryComposer.tsx
  ui/src/components/Composer.tsx
  ui/src/components/Dashboard.tsx
  ui/src/components/EnergyPanel.tsx
  ui/src/components/GratiaMark.tsx
  ui/src/components/Modal.tsx
  ui/src/components/PanicButton.tsx
  ui/src/components/QuickActions/SignalHandover.tsx
  ui/src/components/Radar.tsx
  ui/src/components/ReadinessBoard.tsx
  ui/src/components/ReadinessLightSync.tsx
  ui/src/components/StatusBar.tsx
  ui/src/components/ThanksPanel.tsx
  ui/src/components/Toaster.tsx
  ui/src/main.tsx
  ui/src/timeline/timelineState.ts
Labels: ui

feat(ui): bridge status chip + controlled panel (#none) ♾️
  ui/src/App.tsx
  ui/src/components/BridgePanel.tsx
Labels: ui

feat(ui): bridge chip tooltip shows latest hint (#none) ♾️
  ui/src/App.tsx
  ui/src/components/BridgePanel.tsx
Labels: ui

feat(ui): bridge chip glows on fresh suggestion 🌟
  ui/src/App.tsx
Labels: ui

feat(timeline): append helpers + bridge adapter ♾️
  ui/src/components/BridgePanel.tsx
Labels: ui

feat(ui): App — bridge listener + chip tooltip/pulse + add→timeline 🍀
  ui/src/App.tsx
Labels: ui

docs(changelog): Bridge UI + timeline adapter — status chip, tooltip, pulse, add→timeline 🧭
  CHANGELOG.md
Labels: docs

fix(ui): inline BridgeEventDetail ♾️
  ui/src/App.tsx
Labels: ui

feat(ui): Purpose component (local) — chip + editor + align→timeline 🎯
  ui/src/App.tsx
  ui/src/components/PurposeChip.tsx
  ui/src/hooks/usePurpose.ts
  ui/src/types/purpose.ts
Labels: ui

feat(ui): hotkey align for Purpose chip
  ui/src/App.tsx
  ui/src/components/PurposeChip.tsx
Labels: ui

fix(ui): avoid double emoji on Purpose align entries
  ui/src/components/PurposeChip.tsx
Labels: ui
